---
layout: default
---

<div id="main">
    {% for page in site.pages %}
      {% if page.title %}
      <section>
        <h1><a href={{page.url}}>{{page.title}}</a></h1>
        {% assign post_title = page.title | downcase %}
        {% assign posts = site.posts | where:'category', post_title %}
        {% for post in posts %}
          <a href={{post.url}}><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{post.title}}</h3></a>
        {% endfor %}
      </section>
     {% endif %}
    {% endfor %}
</div>
