---
layout: default
---

<div id="main">
  <div class="row">
    {% for page in site.pages %}
      {% if page.category %}
        <article class="{% cycle '6u', '6u$' %} 12u(small)">
          <header>
            <h2><a href="{{ page.url }}">{{ page.category }}</a></h2>
          </header>
          <section>
            <p>{{ page.description }}</p>
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.url }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
